# GitHub Packages registry configuration
@txi-dev:registry=https://npm.pkg.github.com/
@trafficbyintent:registry=https://npm.pkg.github.com/

# Authentication for GitHub Packages (set NPM_TOKEN environment variable)
# To authenticate: npm login --registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}